<nav id="myHeader">
  <div class="div-logo">
      <a href="#" id= "logo-img "> <img  src="../assets/Logo-2.png" alt="logo" /></a>
  </div>
  <div class="header-list">
      <ul class="list-items">
          <li ><a href="#" class="right1"><strong>COURSES</strong></a></li>
          <li ><a href="#" class="right2">MYWISHLIST</a></li>
          <li ><a href="#" class="right3"> <img src="../assets/shopping-cart.svg" alt="logo" /></a></li>
          <li ><a href="#" class="right4"> <img src="../assets/noun_profile_2068277.svg" alt="logo" /></a></li>
      </ul>

  </div>
</nav>
