nav {
  position:sticky;
  display: flex;
  height: 3rem;
  max-width: 100%;
  background: #e6e6e6 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity:1;
  z-index: 1;
  margin-top:0;
}

.header-list {
  display: flex;
  justify-content: flex-end;
  margin-left: 25%;
}

.div-logo {
  width: 50%;
  float: left;
  padding-left:1%;
  padding-top: 0.2%;
}

.list-items {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  list-style: none;
  margin-top: 0.2rem;
  margin: 1rem;
}

.right1 {
  font-family: montserrat;
  font-size: 0.9rem;
  color: black;
  margin-left: 1rem;
  margin-right: 2rem;
  text-decoration: none;
}
.right2 {
  font-family: montserrat;
  font-size: 0.9rem;
  color: black;
  margin-left: 0rem;
  margin-right: 3rem;
  text-decoration: none;
}
.right3 {
  margin-left: 1rem;
  margin-right: 1rem;
  opacity: 100%;

}
.right4 {
  margin-left: 1rem;
  margin-right: 1rem;
}


