// section {
//   /* margin: 0.7rem;*/
//  margin-left: 0.7rem;
//  margin-right: 0.7rem;
//    padding: 20px;
//    /* border: 1px solid #000000; */
//    color: #ffffff;
// }

.hero {
  font-family: 'Montserrat Semibold', sans-serif;
  padding-left:1rem;
  padding-top: 0.7rem;
  font-size: 0.8rem;
  color:#cccccc;
  background:black;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url('/assets/Mask-Group-1.png') ;
  margin-top:0.75rem;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:auto;
    max-width: 67rem;
  height: 4.5rem;
  border-radius: 3px;
    /* background: #d22b1f; */
 }
