<div class="sidebar">
  <div class="search-bar">
    <input
      style="max-width: 100%"
      type="text"
      placeholder="   Search here"
      class="search-input"
    />
    <button><i class="fa fa-search"></i></button>
  </div>
  <div class="sidebar-cart">
    <h3>Your Cart Details</h3>
    <!-- <div class="container" *ngFor="
    let course of list">
      <span>{{course.title}}</span>
      <span>{{}}</span>
    </div> -->
    <div>
      <h5 class="go-to-check">GO TO CHECKOUT</h5>
    </div>
    <div class="checkout-container">
      <h6>Total Cart Value</h6>
      <h3>Rs. 563/-</h3>
    </div>
  </div>
</div>
